@use '../base/setting';

.stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: setting.$z-index-stretched-link;
    content: '';
  }
}
