$black: #000000;
$black-15: rgba($black, 0.15);
$black-20: rgba($black, 0.2);
$black-25: rgba($black, 0.25);

$gray: #2c3e50;

$white: #ffffff;

$red-500: #dc3545;

$green-500: #42b983;

$blue-500: #2979ff;
$light-blue: #77bbff;

$primary: $blue-500;
$secondary: $green-500;
$danger: $red-500;
